body {
  font-family: "Arial", sans-serif;
}

.nav-link {
  color: white;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.social-icons a {
  color: #fff;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff;
}

#sobre-mim img {
  max-height: 400px;
}

#sobre-mim p,
#projetos p {
  text-align: justify;
}

.card {
  width: 100%;
}

.card-title {
  font-size: 1.25rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cursos a {
  color: #000;
  text-decoration: none;
}

footer {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
